@model IEnumerable<CarRent.Models.EmployeeDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Employee Details</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.EmployeeID"><i class="fa fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.EmployeeID"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
