@model IEnumerable<CarRent.Models.Passport>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.passportID"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.passportID"><i class="fa fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.passportID"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
