@model IEnumerable<CarRent.Models.RentedCars>

@{
    ViewData["Title"] = "Index";
}

<h2>Rented Cars</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Name)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
